@model lab8.ViewModels.StudentSearchViewModel

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @using (Html.BeginForm("Index", "Students", FormMethod.Get))
    {
    <p>
        Name: @Html.TextBoxFor(m => m.SearchString)
        Campus: @Html.DropDownListFor(m => m.CampusId, Model.Campuses, "All")
        <input type="submit" value="Search" />
    </p>
}
    </p>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().UniversityCampus.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().Address)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UniversityCampus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
